.bottom_cont {
    background-color: white;
    width:'100%';
  
}

#bottom_category {
    width: 99%;
    margin: auto;
    display: flex;
     justify-content: space-between;
    list-style-type: none;
    padding: 3px;
    border:'2px solid red';
    margin-bottom: 10px;

}

#bottom_category li {
    display: inline-block;
    margin-right: 5px;
    position: relative;

}



#bottom_category li::after {
    content: "";
    display: block;
    height: 1px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 5%;
    background-color: #000;
    transition: width 0.5s
}

#bottom_category li:hover {
    cursor: pointer;
}

#bottom_category li:hover::after {

    width: 100%;
    left: 0;
}

#dropbtn{
    font-size: 12.5px;
  border: none;
  outline: none;
  color:'white';
   font-family: inherit; 
  margin: 0; 
}
/* dropdown Styling */

#dropdown {
    position: relative;
    display: inline-block;
   
    /* overflow: hidden;  */
    
}

#dropcont {
 
    display: none; 
    width: fit-content;
    height: fit-content;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    position: absolute;
  background-color: white;
  
  z-index: 1;
    
}
#dropcont a{
    float: none;
  color: black;
  padding: 8px;
  text-decoration: none;
  display: block;
  text-align: left;
}
#dropcont a:hover{
   
background-color: #ddd;

}
#dropdown:hover #dropcont {
    display: block;
}


#dropdown:hover #dropbtn {
    /* display: block; */
    background-color: '#3e8e41';
}


.big_parent {
    display: flex;
    justify-content: space-around;

    /* display: grid;
   min-width: 80px; */
}

.grid_head {
    font-size: 13px;
    text-align: left;
    font-family: sans-serif;
    line-height: 20px;
    font-weight: 700;
    color: black;
    margin-bottom: 5px;
}
.hub{
    font-size: 11px;
    color: black.500;
    font-weight: 500;
}
.right_grid {
    width: 95%;
    /* display: grid;
     grid-template-columns: repeat(4,100px);  */
    gap: 5px;
    margin-top: 10px;
    display: flex;
}
