@font-face {
  font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#app-body {
  color: #666;
  min-height: 480px;
  min-width: 320px;
  font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* HOMEPAGE STYLEs
*/

.carousel-container-homepage {
  boxShadow: 'rgba(99, 99, 99, 0.2) 0px 2px 8px 0px';
  padding: 6px 15px;
  background: white;



}

.carousel-container-checkup {
  padding: 10px;
  border: '2px solid black'
}

.activeDots {
  /* color:#ff6f61 ; */


}

.inactiveDots {
  /* color:'white';
width:'8px'; */

}
* {
  text-align: center;

}

#country_homepage>option {
padding: 3px;
margin: 2px;
border-bottom: 1mm solid black.500;

}
option {
  font-size: 18px;
  background-color: #ffffff;
}

option:before {
  content: ">";
  font-size: 20px;
  display: none;
  padding-right: 10px;
  padding-left: 5px;
  color: #fff;
}

option:hover:before {
  display: inline;
}